<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/site_login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/site.css}"/>
    <link rel="stylesheet" th:href="@{/static/icons/social/stylesheets/social_foundicons.css}"/>

</head>
<body>
<br/>
<hr/>
<div id="separator"></div>
<div class="row">
    <div class="container">
        <div class="login-register-form-section">
            <ul class="nav nav-tabs" role="tablist">
                <li><a th:href="@{/login}">Login</a></li>
                <li><a class="active" href="#register" data-toggle="tab">Register</a></li>

            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="register">

                    <div th:if="${saveUser eq 'success'}" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;</button>
                        <strong>User Saved Successfully</strong> Please Login
                    </div>

                    <div th:if="${saveUser eq 'exist-name'}" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;</button>
                        <strong>Error!</strong> User name already used !!!
                    </div>
                    <div th:if="${saveUser eq 'exist-email'}" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;</button>
                        <strong>Error!</strong> User email already used !!!
                    </div>
                    <div th:if="${saveUser eq 'fail'}" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;</button>
                        <strong>Error!</strong> Unexpected error !!!
                    </div>


                    <form id="registerForm" th:object="${reqUser}" th:action="@{/user/register}" method="post"
                          class="form-horizontal">
                        <div class="form-group ">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                <input th:field="*{username}" type="text" name="register_username"
                                       class="form-control" placeholder="Username"
                                       required="required" value=""/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                <input th:field="*{email}" type="email" name="register_email" class="form-control"
                                       placeholder="Email"
                                       required="required" value=""/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                <input th:field="*{password}" type="password" name="register_password"
                                       class="form-control" id="password"
                                       placeholder="Password" required="required"/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                <input th:field="*{password_2}" type="password" name="register_cpassword"
                                       class="form-control" id="confirm_password"
                                       placeholder="Confirm Password" required="required"/>
                            </div>
                        </div>
                        <input type="submit" value="Register" class="btn btn-success btn-custom"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footerSeparator"></div>

<footer>
    <div th:replace="fragments/footer :: footer">&copy; 2016 pironix</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script>
    var password = document.getElementById("password")
            , confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

</body>
</html>